<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="robot">
    <link name="base_footprint">
    </link>
    <joint name="base_footprint_link" type="fixed">
        <parent link="base_footprint"/>
        <child link="cart"/>
        <origin xyz="0 0 0.0" rpy="0 0 0"/>
    </joint>
    
    <gazebo>
        <plugin name="cart_controller" filename="libgazebo_ros_planar_move.so">
            <commandTopic>cmd_vel</commandTopic>
            <odometryTopic>odom</odometryTopic>
            <odometryFrame>odom</odometryFrame>
            <odometryRate>20.0</odometryRate>
            <robotBaseFrame>base_footprint</robotBaseFrame>
        </plugin>
    </gazebo>
</robot>

